#add{
    /*border: 1px solid green;*/
    background-color: #CFCFCF;
    position: absolute;
    width: 50px;
    margin-left: 82%;
    width: 60px;
    /*height: 100px;
    left: 80%;*/
}

#add > *, #edit > *, #delete > * {
    margin-left: 6px;
}

#edit {
    /*border: 1px solid yellow;*/
    background-color: #CFCFCF;
    position: absolute;
    width: 50px;
    margin-left: 85%;
    width: 60px;
    /*height: 100px;
    left: 86%;*/
}

#delete {
    /*border: 1px solid yellow;*/
    background-color: #CFCFCF;
    position: absolute;
    width: 50px;
    margin-left: 89%;
    width: 60px;
}

#deleteSelectSite {
    height: 300px;
    overflow: scroll;
}