#all {
	width: 100%;
	position: relative;
	margin: 0 auto;
    background-size: 100%;
    border: 1px solid black;
}

div {
    width: 100%;
    /*border: 1px solid black;*/
}

#header {
    height: 60px;
    border: 1px solid black;
}

#header p {
    font-size: 30px;
    /*border: 1px solid red;*/
    display: inline-flex;
    margin-top: 11px;
    margin-left: 3%;
}

a.nodecoration {
    text-decoration: none;
    color: black;
}

#menu {
    height: 35px;
    border: 1px solid black;
}

#menu>*{
    float: right;
    margin-top: 7px;
    margin-left: 12px;
}

#menu>input {
    float: left;
}

#menu p {
    display: inline-flex;
    margin-top: 15px;
    margin-right: 12px;
}

#content {
    background-color: rgb(224, 224, 224);
    border: 1px solid blue;
    float: left;
}

#imagen {
    height: 70%;
    margin-top: 6px;
    margin-right: 12px;
}

img.divmovie{
    height: 250px;
    width: 150px;
}

#movies {
    float: left;
    border: 1px solid blue;
    height: auto;
}

.movie {
    float: left;
    /*border: 1px solid red;*/
    width: 250px;
    margin-top: 35px;
    margin-left: 70px;
    margin-bottom: 50px;
}

.movieIndex {
    float: left;
    height: 310px;
    /*height: auto;*/
    width: 166px;
    margin-top: 35px;
    margin-left: 40px;
    margin-bottom: 50px;
}

.movie>* {
    font-family: 'Bree Serif', serif;
    
}

.editButton {
    float: left;
    text-decoration: none;
    padding: 10px;
    margin-left: 27px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}

.deleteButton {
    float: left;
    text-decoration: none;
    padding: 10px;
    margin-left: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #fd5353;
    border-radius: 6px;
    border: 2px solid #990202;
}

.editButtonIndex {
    float: left;
    text-decoration: none;
    padding: 8px;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}

.deleteButtonIndex {
    float: left;
    text-decoration: none;
    padding: 8px;
    margin-left: 19px;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
    background-color: #fd5353;
    border-radius: 6px;
    border: 2px solid #990202;
}

.viewMovie {
    text-decoration: none;
    padding: 10px;
    margin-top: 23px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #2be02b;
    border-radius: 6px;
    /*border: 2px solid #029902;*/
}

#movieInfo {
    float: left;
    margin-left: 40px;
    margin-top: 25px;
    width: 75%;
    /*border: 1px solid red;*/
}

p.indentp {
    padding-left: 15px;
    margin-top: -13px;
    /*margin-bottom: -10px;*/
}

input[class="indentp"], select.indentp{
    padding-left: 15px;
    margin-top: -13px;
    margin-bottom: -10px;
}

.tittle {
    padding-left: 15px;
    margin-top: -16px;
    margin-bottom: -15px;
}

/*-----------------------EDIT MOVIE----------------------*/

.campoMovie{
    float: left;
    width: 24%;
    /*border: 1px solid red;*/
}

.movieEditButton {
    float: left;
    text-decoration: none;
    padding: 10px;
    font-weight: 400px;
    font-size: 13px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    margin-top: 15px;
    /*border: 2px solid #0016b0;*/
}

.movieDeleteButton {
    text-decoration: none;
    padding: 10px;
    margin-left: 80px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #fd5353;
    border-radius: 6px;
    /*border: 2px solid #0016b0;*/
}

#addActorDirector {
    float: left;
    margin-top: 25px;
    /*border: 1px solid green;*/
    width: 35%;
    background-color: white;
    font-size: 17px;
}

.unselectionable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.closeIcon {
    width: 15px;
    height: 15px;
    float: right;
    position: inherit;
    margin-right: 4px;
    margin-top: -13px;
}

/*-----------------FORM LOGIN--------------------*/

#formularios {
    float: left;
}

input {
    padding: 3px;
    /*border: 1px solid #ccc;*/
    border-radius: 4px;
    
}

label {
    padding: 3px 3px 3px 0;
    display: inline-block;
}

form {
    float: left;
    width: 30%;
    text-align: center;
    margin-top: 1%;
    margin-left: 2%;
}

.opcion {
    margin-bottom: 18px;
}

.etiqueta {
    float: left;
    width: 100px;
}

.campo {
    margin-left: 8%;
    
}

.addGenre {
    float: left;
}

/* VENTANA MODAL */
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: auto;
}
.modalDialog > div#div {
    width: 350px;
    height: 600;
	position: relative;
	margin: 10% auto;
	padding: 15px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }

#addButton {
    float: right;
}

.genresSelect {
    float: left;
    width: 150px;
    height: 160px;
}

#store {
    float: left;
    width: 100%;
    /*border: 1px solid blue;*/
}

#store > label{
    float: left;
    margin-right: 20px;
}

#store > input {
    float: left;
}

select#genresSelect {
    float: left;
}

input[name='delete']{
    float: left;
    clear: both;
    margin-top: 15px;
}

div.genres {
    float: left;
    /*border: 1px solid red;*/
    width: auto;
    
}

.noGenres{
    margin-left: 15px;
    float: left;
    width: auto;
    height: auto;
    /*border: 1px solid black;*/
}

div#allGenres {
    height: 350px;
    overflow: scroll
}

#info1 {
    /*border: 1px solid black;*/
    float: left;
    width: 300px;
    max-width: 300px;
}

#info2{
    /*border: 1px solid red;*/
    float: left;
    width: 300px;
}

#info3 {
    float: left;
    width: 300px;
}

#moviesFormLeft{
    float: left;
    width: 40%;
}

#moviesFormRight{
    float: left;
    width: auto;
    border: 1px solid black;
}
#moviesFormRight2{
    float: left;
    width: auto;
    border: 1px solid black;
}